---
import Base from '../layouts/Base.astro';
import CROHeader from '../components/CROHeader.astro';
import CROHero from '../components/CROHero.astro';
import CROCredibilityBand from '../components/CROCredibilityBand.astro';
import CROServices from '../components/CROServices.astro';
import CROManifesto from '../components/CROManifesto.astro';
import CROHowItWorks from '../components/CROHowItWorks.astro';
import CROTestimonials from '../components/CROTestimonials.astro';
import CROEverythingIncluded from '../components/CROEverythingIncluded.astro';
import CROProviderLed from '../components/CROProviderLed.astro';
import CROComparisonTable from '../components/CROComparisonTable.astro';
import CROFirstVisit from '../components/CROFirstVisit.astro';
import CROFinalCTA from '../components/CROFinalCTA.astro';
import CROFooter from '../components/CROFooter.astro';

import FAQAccordion from '../components/FAQAccordion';
import LocationSelector from '../components/LocationSelector';
import StickyMobileCTA from '../components/StickyMobileCTA';

import { TRT_FAQS, CRO_EXTRA_FAQS } from '../data/faqs';
import { LOCATIONS } from '../data/locations';
import { GBP_REVIEWS_URL } from '../data/testimonials';

// JSON-LD Schema
const faqSchema = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": TRT_FAQS.map(f => ({
    "@type": "Question",
    "name": f.q,
    "acceptedAnswer": {
      "@type": "Answer",
      "text": f.a,
    },
  })),
};

const clinicSchema = {
  "@context": "https://schema.org",
  "@type": "MedicalClinic",
  "name": "Men's Wellness Centers",
  "description": "Provider-supervised testosterone replacement therapy at 3 Virginia locations. 60-minute in-person visit. Same-day labs. No insurance needed.",
  "url": "https://menswellnesscenters.com",
  "telephone": "+18663444955",
  "medicalSpecialty": "Endocrinology",
  "location": LOCATIONS.map(loc => ({
    "@type": "Place",
    "name": loc.name,
    "address": {
      "@type": "PostalAddress",
      "streetAddress": loc.address,
      "addressLocality": loc.city,
      "addressRegion": "VA",
      "postalCode": loc.cityStateZip.split(" ").pop(),
      "addressCountry": "US",
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": loc.geo.latitude,
      "longitude": loc.geo.longitude,
    },
    "telephone": loc.phone,
  })),
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.9",
    "reviewCount": "191",
    "bestRating": "5",
  },
};

const schemaJson = JSON.stringify([faqSchema, clinicSchema]);
---

<Base
  title="Men's Wellness Centers | TRT, ED & Weight Loss in Virginia"
  description="Provider-supervised testosterone replacement therapy at 3 Virginia locations. 60-minute in-person visit. Same-day labs. No insurance needed."
  schemaJson={schemaJson}
>
  <CROHeader />
  <main>
    <CROHero />
    <CROCredibilityBand />
    <CROServices />
    <CROManifesto />
    <CROHowItWorks />
    <CROTestimonials />
    <CROEverythingIncluded />
    <CROProviderLed />
    <CROComparisonTable />
    <CROFirstVisit />
    <LocationSelector client:visible locations={LOCATIONS} />
    <FAQAccordion client:visible faqs={[...TRT_FAQS, ...CRO_EXTRA_FAQS]} />
    <CROFinalCTA />
  </main>
  <CROFooter />
  <StickyMobileCTA client:visible />
  <div class="md:hidden h-[72px]" aria-hidden="true"></div>
</Base>
